nav {
  display: flex;
  justify-content: center;
}

#logo-container {
  margin-right: auto;
}

#logo-container a {
  text-decoration: none;
}

.logo-link {
  color: #0a66c2;
}

.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1128px;
}

#sign-in-section {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#main-heading {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: 200;
  color: #8f5849;
}

.hero-form {
  display: flex;
  flex-direction: column;
  width: 408px;
}

.hero-form-wrap {
  padding-right: 40px;
}

.left-right-divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.left-right-divider::before,
.left-right-divider::after {
  height: 1px;
  width: auto;
  background-color: rgb(0 0 0 / 0.35);
  --tw-content: "";
  /* content: var(--tw-content); */
  content: "";
  flex-grow: 1;
}

.pb-3 {
  padding-bottom: 24px;
}

.pt-3 {
  padding-top: 24px;
}

.divider-text {
  margin-left: 16px;
  margin-right: 16px;
  font-weight: 600;
}

.button-transparent {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
}

.button-transparent:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  background-color: rgba(1, 1, 1, 0.05);
  color: rgba(0, 0, 0, 0.75);
}

.width-full {
  width: 100%;
}

.home-footer {
  display: flex;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-wrap {
  display: flex;
  width: 100%;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;

  outline: 2px limegreen dashed;
}

.no-decoration {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
